h1 {
    padding-top: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

label {
    color: black;
    padding-top: 20px;
    font-weight: bold;
}

input {
    margin-left: 10px;
    width: 20px;
}

button {
    width: 30px;
}